<template>
    <require from="./candidater.css"></require>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <img class="my-3" src="images/apt123.jpg" />
              <img class="my-3" src="images/apt123.jpg" />
              <img class="my-3" src="images/apt123.jpg" />
          </div>
          <div class="col-md-8">
            <h3>Vous venez de poser votre candidature pour le logement suivant</h3>
            <div>
              <div class="float-left" ><img id="vue-carte" src="images/map.jpg"> </div>
            <div class="w-50 float-right ">
              <p>
                  Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.
              </p>
            </div>
          </div>
            <div class="float-left">
              <p class="bold">Les candidatures sont ouvertes jusqu'au : </p>
              <p class="text-center">10 Avril 2019</p>
              <p class="bold">Il y a X personnes devant vous. 
                  <br>Consultez régulièrement votre compte pour suivre votre dossier.   
              </p>
            </div>
          </div>
        </div>
    </div>
</template>