<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="bloc-vertical-padding"><p >Vous êtes sur le point de créer votre demande de logement social.</p>
        <p >Un numéro unique départemental ou régional (NUD/NUR) vous sera attribué.</p></h3>
        <form role="form" submit.delegate="submit()">
          <div class="form-group">
            <input type="radio" value.bind="hasNud" name="hasNud" class="" id="pt" >
            <label for="pt">Je suis déjà en possession du NUD/NUR</label>
            <input type="text" value.bind="nud" />
          </div>
          <div class="form-group">
            <input type="radio" checked value.bind="hasNud" name="hasNud" class="" id="ct" >
            <label for="ct">J'accepte ...</label>
          </div>
          <div class="form-group">
            <div class="float-right">
              <button class="btn btn-primary w-130" role="submit">Continuer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
