<template>
    <require from="./logement.css"></require>


    <div class="container">
        <div id="logement-header" class="row">
            <div class="col-md-12">
                <div>${logement.price} € </div>
                <div>T${logement.nbrPiece} - ${logement.nbrPiece} chambre - ${logement.superficie} m²</div>
            </div>
        </div>
        <div id="logement-galery" class="row text-center">
            <div class="col-md-10 float-left">
                <img class="" src="${logement.image}" />
                <img class="" src="${logement.image}" />
                <img class="" src="${logement.image}" />
            </div>
            <div class="col-md-2 float-right">
                <div id="nbrCommande" if.bind="auth.isLoggedIn">
                    <label>Nbr Commande</label><br>
                    <label class="text-danger">89</label>
                </div>
            </div>
        </div>
        <div id="logement-body" class="row">
            <div class="col-md-2">
                <div if.bind="auth.isLoggedIn">
                    <p><label class="text-success">100</label><br>
                        <label class="">[En savoir plus]</label></p>
                    <p>
                        <a route-href="candidater"><button class="btn-primary">Candidater</button></a>
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h1>Aménagement et présentation</h1>
                    <div class="col-md-8" id="amenagement-blocs">
                        <div class="amenagement-blocs float-left">
                            Pièces : ${logement.nbrPiece}
                        </div>
                        <div class="amenagement-blocs float-left">
                            Chambre : ${logement.nbrPiece}
                        </div>
                        <div class="amenagement-blocs float-left">
                            Etage : ${logement.etage}
                        </div>
                        <div class="amenagement-blocs float-left">
                            Parking : ${logement.parking}
                        </div>
                        <div class="amenagement-blocs float-left">
                            Gardien : ${logement.gardien}
                        </div>
                        <div class="amenagement-blocs float-left">
                            Ascenseur : ${logement.ascenseur}
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <img src="images/map.jpg" id="vue-carte" />
                    </div>
                </div>
                <div id="lg-apropos" class="row">
                    <h1>A propos</h1>
                    <p>Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.</p>
                </div>
                <div id="lg-details" class="row">
                    <h1>Détails</h1>
                    <p>Post haec indumentum regale quaerebatur et ministris fucandae purpurae tortis confessisque pectoralem tuniculam sine manicis textam, Maras nomine quidam inductus est ut appellant Christiani diaconus, cuius prolatae litterae scriptae Graeco sermone ad Tyrii textrini praepositum celerari speciem perurgebant quam autem non indicabant denique etiam idem ad usque discrimen vitae vexatus nihil fateri conpulsus est.</p>
                </div>
                <div id="lg-quartier" class="row">
                    <h1>Quartier</h1>
                    <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
                </div>
            </div>
        </div>
    </div>
</template>