<template>
    <require from="./accueil-entreprise.css"></require>
    <require from="resources/elements/contact-privilegie"></require>
    <div class="container-fluid mt-1 mb-1">
    <div class="row">
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Fil d'ariane</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fil d'ariane</li>
                </ol>
            </nav>
            <div class="input-group-prepend">
                <button type="button" class="btn btn-dropdown">Filtre entreprise</button>
                <button type="button" class="btn btn-dropdown dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Normandie</a>
                    <a class="dropdown-item" href="#">Orne</a>
                    <a class="dropdown-item" href="#">Eure</a>
                    <a class="dropdown-item" href="#">Haut de france</a>
                </div>
                <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">Normandie <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></li>
                        <li class="list-group-item">Orne <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></li>
                        <li class="list-group-item">Eure <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button></li>
                </ul>
                <button class="btn btn-primary"><span class="pl-3 pr-3">Filtrer</span></button>
            </div>
        </div>
        <div class="col-md-4">
            <contact-privilegie ></contact-privilegie>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Gérer mon scoring entreprises</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Editer mes chiffres</button>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"> Gestion des demandes de logements</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        40
                                    </h3>
                                    <p>
                                        Demandes en attente de validation
                                    </p>
                                    <ul>
                                        <li> Demande en attente de validation</li>
                                        <li> Demande en attente de validation</li>
                                        <li> Demande en attente de validation</li>
                                        <li> Demande en attente de validation</li>
                                        <li> Demande en attente de validation</li>
                                        <li> Demande en attente de validation</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Demandes de logement en cours
                                    </p>
                                    <ul>
                                        <li> Demande de logement en cours</li>
                                        <li> Demande de logement en cours</li>
                                        <li> Demande de logement en cours</li>
                                        <li> Demande de logement en cours</li>
                                        <li> Demande de logement en cours</li>
                                        <li> Demande de logement en cours</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Priorité entreprise
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Offres de logement privilèges</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <h3>
                                        XX
                                    </h3>
                                    <p>
                                        Publications
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                        <img src="./images/vignette.png">
                                        <h5 class="text-blue">
                                            Lorem ipsum
                                        </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <h3>
                                    </h3>
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 bg-light">
                                <div class="text-center">
                                    <img src="./images/vignette.png">
                                    <h5 class="text-blue">
                                        Lorem ipsum
                                    </h5>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="#" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</template>