<template>
    <require from="./accueil-entreprise.css"></require>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"> GESTION DES DEMANDES DE LOGEMENTS</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h2>
                                        <i class="fas fa-home"></i>40
                                    </h2>
                                    <p>
                                        Demandes en attente de validation
                                    </p>
                                    <ul style="list-style-type:none;">
                                        <li repeat.for="item of names"><a href="entreprise/details-demande-avec-CERFA">${item.firstName} ${item.lastName}</a> </li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/valider-demandes" role="button">Gérér les demandes</a>
                                    </p>
                                </div>

                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h2>
                                        <i class="fas fa-home"></i>60
                                    </h2>
                                    <p>
                                        Demandes de logement en cours
                                    </p>
                                    <ul style="list-style-type:none;">
                                        <li repeat.for="item of names"><a href="entreprise/details-demande-avec-CERFA">${item.firstName} ${item.lastName}</a> </li>
                                    </ul>
                                    <p>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/consulter-demandes" role="button">Gérér les demandes</a>
                                    </p>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <br>
                                <br>
                                <div class="text-center">
                                    <h3>
                                        Scoring entreprise
                                    </h3>
                                    <p>
                                        <button type="button" class="btn btn-primary">Gérér mon scoring</button>
                                    </p>
                                </div>
                                <br>
                                <br>
                                <div class="text-center">
                                    <h3>
                                        Priorité entreprise

                                    </h3>
                                    <h3>
                                        14/800
                                    </h3>
                                    <p>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/gerer-priorites" role="button">Gérér mes priorité</a>
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">SALARIES LOGES</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        46
                                    </h3>
                                    <p>
                                        Présenté en CAL
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/consulter-demandes" role="button">Voir le détail</a>
                                    </p>
                                </div>
                            </div>

                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        28
                                    </h3>
                                    <p>
                                        Accepté en CAL
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/consulter-demandes" role="button">Voir le détail</a>
                                    </p>
                                </div>
                            </div>

                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        76
                                    </h3>
                                    <p>
                                        Salarié logés
                                    </p>

                                    De <input type="date" />
                                    à <input type="date" />

                                    <p>
                                        <br>
                                        <a class="btn btn-primary" href="/entreprise/Gestion-Demandes/consulter-demandes" role="button">Voir le détail</a>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">LES OFFRES DE LOGEMENT PRIVILIGESLES OFFRES DE LOGEMENT PRIVILIGES</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <h2>
                                        <i class="fas fa-home"></i> 35
                                    </h2>
                                    <p>
                                        Publiées <br>
                                        pour votre salariés
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div repeat.for="item of offres" class="col-md-3 ">
                                        <div class="text-center">
                                            <img src="/images/apt123.jpg" />
                                            <h4>
                                                ${item.city}-${item.zip}
                                            </h4>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>

                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">

                        <a class="btn btn-primary float-right" href="entreprise/offres-privilege-consulte" role="button">Voir tout les logements</a>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</template>