
<template>
        <require from="./details-demande.css"></require>
<!-- <header class="row" style="margin-bottom:60px;"> 
    <div class="col-md-10" >
    <img src="" alt="Logo" width="100" height="48" longdesc="desc.txt" style="border: 1px solid black; padding:10px;"/>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Demande sans CERFA/a></li>
          <li class="breadcrumb-item active" aria-current="page">Demande</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2" style= "width:100px" >
    <p style="border: 1px solid black; padding:10px;">
    Info connection
    </p> 
    
     <div  style="border: 1px solid black; padding:10px;">
   <p> Mon contact privilégié</p>
   <p> Nom</p>
   <p>Mail</p>
   <p> Tel</p>
    </div>
    </div>
    
</header> -->
<div role="main" class="row">
    <div class="col-md-10" >
    <div class="card">
    <p>Détail de la demande du client : </p>
        <h3>Demande de Jean Dupont</h3>
        <p>Date: 16 janvier 2019</p>
        <p>RAS<p>
        </div>
    <input type="button" value="Proposer au salarié d'être accompagné par l'entreprise" class="btn-primary"/>
    </div>
    <div class="col-md-2">
    <p> <input type="button" value="Donner un jeton" class="btn-primary"/></p>
    <p><input type="button" value="Metttre en suspend" class="btn-primary"/></p>
    <p><input type="button" value="Refuser/Valider" class="btn-primary"/></p>
    <p><input type="button" value="Ne fait plus partie de l'entreprise" class="btn-primary" /></p>
    </div>
</div>
 
</template>