<template>
    <require from="./details-demande.css"></require>

    <div role="main" class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    Détail de la demande du client
                </div>
                <div class="card-body">
                    <p>Détail de la demande du client : </p>
                    <h3>Demande de Jean Dupont</h3>
                    <p>Date: 16 janvier 2019</p>
                    <p>RAS</p>
                </div>
            </div>
            <div><a href="#" class="btn btn-primary text-right">Proposer au salarié d'être accompagné par l'entreprise</a></div>
        </div>
        <div class="col-md-2">
            <p><a href="#" class="btn btn-primary">Donner un jeton</a></p>
            <p><a href="#" class="btn btn-primary">Metttre en suspend</a></p>
            <p><a href="#" class="btn btn-primary">Refuser/Valider</a></p>
            <p><a href="#" class="btn btn-primary">Ne fait plus partie de l'entreprise</a></p>
        </div>
    </div>

</template>