<template>
    <require from="./details-demande.css"></require>

    <div role="main" class="row">
        <div class="col-md-10">
            <div class="card">
                <p>Détail de la demande du client : </p>
                <h3>Demande de Jean Dupont</h3>
                <p>Date: 16 janvier 2019</p>
                <p>RAS</p>
            </div>
            <input type="button" value="Proposer au salarié d'être accompagné par l'entreprise" class="btn-primary" />
        </div>
        <div class="col-md-2">
            <p> <input type="button" value="Donner un jeton" class="btn-primary" /></p>
            <p><input type="button" value="Metttre en suspend" class="btn-primary" /></p>
            <p><input type="button" value="Refuser/Valider" class="btn-primary" /></p>
            <p><input type="button" value="Ne fait plus partie de l'entreprise" class="btn-primary" /></p>
        </div>
    </div>

</template>