
<template>
    <require from="./gestion-demandes.css"></require>

    <br>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fil-ariane">
                        <li class="breadcrumb-item"><a href="#">Fil d'ariane</a></li>
                        <li class="breadcrumb-item"><a href="#">Fil d'ariane</a></li>
                    </ol>
                </nav>

                <div class="form-group">
                    <label for="exampleInputEmail1">Type de Filtre</label>
                      <select class="form-control" value.bind="selectedFilter">
                          <option repeat.for="f of filtres" model.bind="f.obj">
                            ${f.title}
                          </option>
                        </select>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Mon contact privilégié
                      </div>
                    <div class="card-body text-right">
                        <h5 class="card-title">Nom</h5>
                        <p class="card-text">Mail</p>
                        <p class="card-text">Tel</p>
                        <!-- <a href="#" class="card-link">Mail</a>
                        <a href="#" class="card-link">Tel</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <form>
            <div class="row-fluid">
                <compose view-model.bind="selectedFilter"></compose>
            </div>
          </form>
    </div>

</template>