
<template>
    <require from="./gestion-demandes.css"></require>
    <br>
    <div class="container-fluid">
        <form>
          <div class="row-fluid">
              <div class="form-group col-4 row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Type de Filtre: </label>
                  <div class="col-sm-9">
                      <select class="form-control" value.bind="selectedFilter">
                          <option repeat.for="f of filtres" model.bind="f.obj">
                            ${f.title}
                          </option>
                        </select>
                  </div>
                </div>
          </div>
            <div class="row-fluid">
                <compose view-model.bind="selectedFilter"></compose>
            </div>
          </form>
    </div>

</template>