<template>
    <require from="./header.css"></require>

    <nav class="my-header navbar navbar-expand-lg navbar-dark">
        <ul class="navbar-nav mr-auto bg-inverse">
            <li class="nav-item">
                <span class="nav-link">Besoin d'aide</span>
            </li>
            <li class="nav-item" if.bind="!auth.isLoggedIn">
                <span class="nav-link">Déconnectez-vous</span>
            </li>
        </ul>
    </nav>

    <div class="row bandeau-top">
        <div class="col-md-3">
            <img src="${filtreEntrepriseSelected.logo.url}"></div>
        <div class="col-md-7 pt-4 pb-4">
            <h1><span class="text-rose">Bienvenue</span><span class="text-blue"> sur votre espace Hermès</span></h1>
        </div>
    </div>
    <div class="container-fluid form-group">
        <div class="row">
            <div class="col-md-8 form-group">
                <aurelia-crumbs config.bind="config"></aurelia-crumbs>
                <div class="mt-5">
                    <div class="filtre">
                        <div class="row">
                            <div class="col-md-4" if.bind="listFiltreEntreprise.length > 1">
                                <select class="text-blue form-control" value.bind="filtreEntrepriseSelected">
                                    <option model.bind="item" repeat.for="item of listFiltreEntreprise">${item.label}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="text-blue form-control" value.bind="filtreFilialeSelected">
                                    <option>Toutes les entités</option>
                                    <option model.bind="item" repeat.for="item of filtreEntrepriseSelected.filiales">${item.label}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <span class="col-md-4">
                            <aubs-typeahead open-on-focus.bind="false" value.bind="departementSelected" on-select.call="onSelectDepartement(item)" instant-clean-empty="true" data.call="getListeDepartement(filter)" debounce.bind="50" key="label" no-results-text="Aucun élément trouvé..." results-limit.bind="10" loading-text="Recherche en cours..." placeholder="localisation"></aubs-typeahead>
                        </span>
                        <div class="col-md-6 filtre">
                            <div class="flex">
                                <ul class="list-group list-group-horizontal flex-wrap">
                                    <li repeat.for="item of listFiltreDepartementSelected" class="list-group-item">${item.label}<button click.trigger="removeFiltreEntreprise(item)" type="button" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button class="btn btn-primary ml-2"><span class="pl-3 pr-3">Filtrer</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <compose view-model="./contact-privilegie" model.bind="filtreEntrepriseSelected" containerless class="row mr-1 float-right"></compose>
            </div>
        </div>
    </div>
</template>