<template>
        <require from="./accueil-entreprise.css"></require>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                                <h5 class="card-title"><b>Voir mon scoring</b> / Voir mes précédents scoring</h5>
                            </div>
                        </div>
                      </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                    <h7 class="card-title">
                                        <p>SI Voir mes précédents scoring :</p>
                                        <p>Choisir lequel</p>
                                    </h7>
                                </div>
                            </div>
                          </div>
                    </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"> GESTION DU SCORING </h5>                                
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-primary">Editer mes résultats</button>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <p>Vous n'avez pas encore validé le scoring de votre entreprise.</p>
                                    <p>Mon scoring en cours : A partir de telle date jusqu'à telle date.</p>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                    <h5 class="card-title">Explication de ce qu'est un scoring pour les Salarié / Entreprise / EPCI / Bailleurs : présentation visuelle.</h5>
                                </div>
                            </div>
                          </div>
                </div>
            </div>
            <br>
            <br>
            <compose view="../footer.html" containerless></compose>
</template>