<template>
    <div class="container">

        <div class="row search-barre">

            <div class="col-md-4 text-left">
                <p>${logements}</p>
            </div>
            <div class="col-md-4 text-center">
                <span class="pointer glyphicon glyphicon-pushpin" data-action="map"></span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="pointer glyphicon glyphicon-th" data-action="grid"></span>
            </div>
            <div class="col-md-4 text-right">
                <a class="ui__button ui__button--inverted">
                    <span class="ui__button__text">Affiner</span>
                    <span class="icon ui__button__icon icon-settings"></span>
                </a>
            </div>

        </div>
        <div class="row search-result">

            <div repeat.for="accommodation of accommodations" class="col-md-4 text-center">
                <a href="salarie/logement">
                    <div data-bind="style: { backgroundImage: 'url(${accommodation.image})' }" class="result-bloc pointer ${getStyleColor(accommodation.points)}">
                        <div class="pull-right glyphicon glyphicon-heart block-heart pointer"></div>
                        <br />
                        <div>
                            <div class="pull-left">${accommodation.commune}</div>
                            <br />
                            <div class="pull-left">${accommodation.nbrPiece} pièces de ${accommodation.superficie}m²</div>
                            <div class="pull-right">${accommodation.price}€ cc</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</template>