<template>
  <div class="container">
    <div class="row">
      <div id="ruban-saisie" class="col-md-2 text-center" >
        0%
      </div>
      <div id="volet-saisie" class="col-md-10" >
        <ul class="nav nav-tabs nav-justified"> 
          <li role="presentation" repeat.for="etape of etapes" class="nav-item "><a class="pointer nav-link ${etape == selectedStep ? 'active' : ''}" click.trigger="goToStep(etape)">${etape.label}</a></li>
        </ul>
        <compose view-model.bind="selectedStep" ></compose>
      </div>
    </div>
  </div>
</template>
