<template>
    <require from="bootstrap/dist/css/bootstrap.min.css"></require>
    <require from="./header.css"></require>
    <header class="row my-header">
        <div class="col-md-6 right"></div>
        <div class="col-md-2 right">
            Besoin d'aide
        </div>
        <div class="col-md-2 right">
            Bonjour test test
        </div>
        <div class="col-md-2 right">
            <nav class="menu-items">
                <connect-button></connect-button>
            </nav>
        </div>
    </header>
</template>