<template>
    <require from="./pE2_1.css"></require>

    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb fil-ariane">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Etape 1</a></li>
                        <li class="breadcrumb-item"><a href="#">Etape 2</a></li>
                    </ol>
                </nav>

                <nav aria-label="breadcrumb filtre">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Filtre entreprise</a></li>
                        <li class="breadcrumb-item"><a href="#">Filtre géographiquer</a></li>
                        <li class="breadcrumb-item"><a href="#">Extraction du résultat affiché</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mon contact privilégié</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nom</h6>
                        <p class="card-text">Mail</p>
                        <p class="card-text">Tel</p>
                        <a href="#" class="card-link">Mail</a>
                        <a href="#" class="card-link">Tel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>