* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.bandeau-top{
    background-image: url('/images/bandeau_Hermes.png');
    background-repeat: no-repeat;
    min-height:200px;
}

.rounded-1 {
    border-radius: 1.25rem !important;
}

.breadcrumb{
    background:#fff !important;

}

.breadcrumb-item a{
    color:#003e7e;
}
.breadcrumb-item.active {
    color: #e41d4b !important;
}

.btn-dropdown {
    background: #fff;
    border : #eee 1px solid !important;
    color: #003e7e !important;
}

.list-group-item{
    color: #003e7e !important;
}