@import "./theme.less";


.route-active {
  font-weight: bold;
  color: black;
}


* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.aurelia-crumbs a {
    color: @colorset-main0  !important;
}

.aurelia-crumbs a:nth-last-child {
    color: @colorset-main1  !important;
    font-weight: bold;
}

.list-group .list-group-item {
    background: @colorset-light1;
}

.breadcrumb {
    background: @colorset-light0 !important;

}

.btn-dropdown {
    background: @colorset-light0;
    border: @colorset-light1 1px solid !important;
    color: @colorset-main0 !important;
}

.list-group-item {
    color: @colorset-main0 !important;
}

.mb-50 {
  margin-bottom: 50px;
}