<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Hermes - Projets de tests" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncSuffix" Action="Error" />
    <Rule Id="UseAsyncSuffix" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA2200" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1032" Action="None" />
  </Rules>
</RuleSet>