<template>
    <require from="./accueil-bailleur.css"></require>
    <require from="resources/elements/contact-privilegie"></require>
    <compose view="../header.html" containerless></compose>
    <div class="row bandeau-top">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            Bienvenue sur votre espace
        </div>
    </div>
    <div class="container-fluid mt-1 mb-1">
        <div class="row">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Fil d'ariane</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fil d'ariane</li>
                    </ol>
                </nav>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-dropdown">Filtre entreprise</button>
                    <button type="button" class="btn btn-dropdown dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item" href="#">Normandie</a>
                            <a class="dropdown-item" href="#">Orne</a>
                            <a class="dropdown-item" href="#">Eure</a>
                            <a class="dropdown-item" href="#">Haut de france</a>
                    </div>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">Normandie</li>
                        <li class="list-group-item">Orne</li>
                        <li class="list-group-item">Eure</li>
                    </ul>
                    <button class="btn btn-primary"><span class="pl-3 pr-3">Filtrer</span></button>
                </div>
            </div>
            <div class="col-md-4">
                <contact-privilegie ></contact-privilegie>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">SUIVI PLACEMENT DE L'OFFRE</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        40
                                    </h3>
                                    <p>
                                        Logement en cours propositions
                                    </p>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Logement en CAL
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Objectif</th>
                                        <th scope="col">Nbre de logements</th>
                                        <th scope="col">Dont neuf</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Flux cible</th>
                                        <td>18%</td>
                                        <td>220</td>
                                        <td>@57</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Flux actuel</th>
                                        <td>7%</td>
                                        <td>94</td>
                                        <td>@18</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="#" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">LES LOGEMENTS</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul>
                                <li>Résultat 1</li>
                                <li>Résultat 2</li>
                                <li>Résultat 3</li>
                                <li>Résultat 4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="#" role="button">Bouton accès <br> page transfet</a>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">GESTION DES CANDIDATURES</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        40
                                    </h3>
                                    <p>
                                        Condidats à passer en CAL
                                    </p>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Condidats retenus
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="#" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">SUIVI CONVENTIONS (financement)</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        XX
                                    </h3>
                                    <p>
                                        Conventions signés
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" href="#" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <compose view="../footer.html" containerless></compose>
</template>