<template>
    <require from="./accueil.css"></require>

    <compose view-model="./header" containerless></compose>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Fil d'ariane</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fil d'ariane</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">SUIVI PLACEMENT DE L'OFFRE</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        40
                                    </h3>
                                    <p>
                                        Logement en cours propositions
                                    </p>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Logement en CAL
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Objectif</th>
                                        <th scope="col">Nbre de logements</th>
                                        <th scope="col">Dont neuf</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Flux cible</th>
                                        <td>18%</td>
                                        <td>220</td>
                                        <td>@57</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Flux actuel</th>
                                        <td>7%</td>
                                        <td>94</td>
                                        <td>@18</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" route-href="suivi-placement" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">LES LOGEMENTS</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul>
                                <li>Résultat 1</li>
                                <li>Résultat 2</li>
                                <li>Résultat 3</li>
                                <li>Résultat 4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" route-href="logement" role="button">Bouton accès <br> page transfet</a>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">GESTION DES CANDIDATURES</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        40
                                    </h3>
                                    <p>
                                        Candidats à passer en CAL
                                    </p>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        60
                                    </h3>
                                    <p>
                                        Candidats retenus
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" route-href="list-candidat" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">SUIVI CONVENTIONS (financement)</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <div class="text-center">
                                    <h3>
                                        XX
                                    </h3>
                                    <p>
                                        Conventions signés
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-right" route-href="conventions-financement" role="button">Bouton accès</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>