<template>
    <require from="./accueil.css"></require>

    <compose view-model="./header" containerless></compose>

    <div class="container">
        <div class="row card">
                <div class="card-header">
                  Mes contacts
                </div>
                <div class="card-body">
                  <p>Coordonnées contacts ALS (tél, mail…)</p>
                  <p>Alertes liées à le gestion bailleur (quelles alertes) (MAIL et espace client) ->   je gère les alertes que je veux recevoir. </p>
                </div>
        </div>
        <div class="row card">
            <div class="card-header">
              Mes échanges
            </div>
            <div class="card-body">
              <p>Historique des échanges (espace et mail).</p>
            </div>
        </div>
    </div>
</template>