<template>
    <require from="./header.css"></require>
    <div class="bg-dark collapse show">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Logo bailleur</h4>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Etat connection</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                </div>
            </div>
        </div>
</template>