<template>
    <require from="./accueil.css"></require>

    <compose view-model="./header" containerless></compose>

    <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-3 py-3 my-2 mx-5 border" ><a route-href="suivi-placement"> Suivi Placement</a></div>
          <div class="col-md-3 py-3 my-2 mx-5 border" ><a route-href="depot-logements">Depot Logements</a></div>
          <div class="col-md-3 py-3 my-2 mx-5 border" ><a route-href="convention-flux">Conventions Flux</a></div>
        </div>

        <div class="row-fluid">
            <compose view-model.bind="pageDemandes"></compose>
        </div>
    </div>
</template>